.container {
    display: flex;
    flex-direction: row;
   justify-content: center;
    margin-top: 2%;
    box-sizing: border-box;
  
}
.count {
    margin-bottom: 3%;
    
    
    margin-left: 10rem;
}
.count h3 {
    line-height: 8%;
    margin-right: 1rem;
}
.count h1 {
    font-size:5em;
    margin-top: 25%;
}
.buttons button {
    
    border-radius: 25%;
    border: none;
    margin: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
   
    cursor: pointer;
    margin-left: 5em;
    margin-top: 30px;
}
.buttonl button {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: none;
    margin: 1rem;
    font-size: 5em;
 
    cursor: pointer;
    background-color: gray;
}
.buttons button:hover{
    
    background-color: red;
}
.App{
    width: 300px;
    border: 15px solid ;
    padding: 50px;
    margin-top: 5%;
    margin-left: 35%;
    background-color: linen;
    border-radius: 15%;
}